.word-and-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.word-and-buttons .content {
    display: flex;
    align-items: center;
    width: 100%;
}

.word-and-buttons .word {
    flex: 0 0 125px; /* 固定幅を設定 */
    white-space: nowrap; /* テキストが長くても改行させない */
    overflow: hidden; /* テキストが長すぎる場合は隠す */
    text-overflow: ellipsis; /* テキストが長すぎる場合は省略記号を表示 */
}

.word-and-buttons .mean1 {
    flex: 0 0 125px; /* 固定幅を設定 */
    white-space: nowrap; /* テキストが長くても改行させない */
    overflow: hidden; /* テキストが長すぎる場合は隠す */
    text-overflow: ellipsis; /* テキストが長すぎる場合は省略記号を表示 */
}

.word-and-buttons .mean2 {
    flex: 1; /* 残りの幅を使う */
    white-space: nowrap; /* テキストが長くても改行させない */
    overflow: hidden; /* テキストが長すぎる場合は隠す */
    text-overflow: ellipsis; /* テキストが長すぎる場合は省略記号を表示 */
    padding-left: 10px; /* 少しの間隔を設定 */
}

.word-and-buttons .memo {
    flex: 1; /* 残りの幅を使う */
    white-space: nowrap; /* テキストが長くても改行させない */
    overflow: hidden; /* テキストが長すぎる場合は隠す */
    text-overflow: ellipsis; /* テキストが長すぎる場合は省略記号を表示 */
    padding-left: 10px; /* 少しの間隔を設定 */
}

.word-and-buttons .buttons {
    margin-left: 10px;
}

