{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'style2.css' %}" rel="stylesheet">

<style>
    body {
        margin: 0;
        overflow: hidden;
    }
    #flashcard-container {
        width: 100vw;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }
    .flashcard {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        justify-content: center;
        align-items: center;
        /* font-size: 2em; */
        text-align: center;
        background: whitesmoke;
        border: 1px solid #ccc;
        border-radius: 10px;
        transition: transform 0.5s ease-in-out;
    }
    .flashcard.hidden {
        display: none;
    }

    .upperpart {
        align-content: center;
        background: #f0f0f0;
        font-size: 10rem; 
    }

    .underpart {
        background: whitesmoke;
        font-size: 2rem; 
    }

    .graystatus {
        opacity: 0;
        /* color:#f0f0f0 ;; */
    }

    #hoverMenu {
        position: fixed;
        width: 100px;
        height: 100%;
        top: 0;
        left: 0;
        background: #333;
        color: white;

        text-align: center;
        overflow: hidden; 
        transition: width 0.2s ease;
    }

    #hoverMenu a {
        margin-bottom: 20px ;
        display:block;
    }

    .no-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: 24px; 
        font-weight: bold; 
        text-align: center;
    }

    @media (max-width: 576px){
    #hoverMenu {
        position: fixed; /* 最上部に固定 */
        top: 0;          /* 画面の一番上に */
        left: 0;         /* 左に固定 */
        width: 100%;     /* 幅を100%に */
        height: 6%;    /* 高さは自動調整 */
        background-color: #333;
    }
    #hoverMenu a {
        display: inline-block;
        width: auto;
        margin-right: 15px;
        font-size: 1.5rem;
        margin-bottom: 0px ;
    }
    a.mobile-hide {
        display: none;
    }
    .upperpart {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
    }
    .underpart {
        font-size: 1.5rem;
    }
  }

</style>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const hoverMenu = document.getElementById('hoverMenu');
        
        if (window.innerWidth > 576){     
        window.addEventListener('mousemove', function(e) {
            if (e.clientX < 100) {
                hoverMenu.style.width = '100px'; 
            } else {
                hoverMenu.style.width = '0';             }
        });
    }
    });

</script>


{% endblock head %}

{% block content %}

<div id="flashcard-container">
    {% for card in drill_records %}
    <div class="flashcard {% if not forloop.first %}hidden{% endif %}" data-index="{{ forloop.counter0 }}">
        <div class = 'upperpart' style="height:60%;">{{ card.memo1 }}</div>
        <div class = 'underpart graystatus' style="height:35%; align-content:center;">{{ card.memo2 }}</div>
    </div>

    {% empty %}
    <div class="no-data">
        記録されている情報がありません。
        <div>
            <a href="/" class="button">戻る</a>
        </div>
    </div>
    {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/cardslide.js' %}"></script>



<div id="hoverMenu">
    <a href="/" >TOP</a>
    <a href="/wlist/mc/list_mc" >メモ帳２編集</a>
    <a href="/accounts/login" class="mobile-hide">LOG OUT</a>
</div>

{% endblock content %}